* {
	box-sizing: border-box;
	border-radius: 0; /* FUCK ROUNDED CORNERS */
}
body {
	max-width: 768px;
	margin: 0 auto;
	font-family: 'Helvetica', 'Microsoft Sans Serif', 'Liberation Sans', 'Arial', sans-serif, anything-else, demonic-incantations-never-to-be-seen-by-human-eyes, 'Roboto';
}
.header {
	background-color: #ccc;
	background-image: linear-gradient(to bottom, #aaa, #ccc);
	display: flex;
	align-items: center;
	padding: 8px;
	gap: 8px;
}
.header__logo {

}
.header__searchbar {
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.searchbar__text {
	flex-grow: 1;
	min-width: 0;
	width: 100%;
}
.searchbar__submit {
	white-space: nowrap;
}
.main {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 8px;
}
.error {
	border: 1px solid #f00;
	background-color: #fcc;
	color: #f00;
	padding: 8px;
}
.error::before {
	content: url('warning.png');
	vertical-align: text-top;
}
.videos {
	--numcolumns: 4;
	display: grid;
	grid-template-columns: repeat(var(--numcolumns), 1fr);
	grid-gap: 16px;
}
.video {
	max-width: 100%;
	overflow: hidden;
}
.video__thumbnail {
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
	padding: 1px;
}
.video__title {
	font-weight: bold;
	display: block;
}
.video__uploaded {
	display: block;
	color: #666;
}
.pagination {
	font-size: smaller;
	line-height: 1.5;
}
.footer {
	background-color: #ccc;
	background-image: linear-gradient(to bottom, #ccc, #aaa);
}
@media (min-width: 768px) {
	body {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}
@media (max-width: 767px) {
	.videos {
		--numcolumns: 3;
	}
}
@media (max-width: 567px) {
	.videos {
		--numcolumns: 2;
	}
}
@media (max-width: 374px) {
	.videos {
		--numcolumns: 1;
	}
}
